@layer base {
    .notes-editor h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .notes-editor h2 {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .notes-editor h3 {
        font-size: 1rem;
        font-weight: bold;
    }

    .notes-editor p {
        font-size: 0.875rem;
    }

    .notes-editor em,
    .notes-editor i {
        font-style: italic;
    }

    .notes-editor strong,
    .notes-editor b {
        font-weight: bold;
    }

    .notes-editor u {
        text-decoration: underline;
    }
}